<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Loading...</title>
  <script>
    function navigate() {
        window.location.href = 'submit';  // Redirects user to the /map route when 'create_map' is finished
    }
    fetch('results').then(navigate); // Performing 'create_map' and then calls navigate() function, declared above
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}"/>
</head>

<body>
  <div id="wrapper">
    <h2>Performing route optimization. Please wait.</h2>
    <div class="loader-radar"></div>
  </div>
</body>

</html>

